.custom-modal {
    background-color: white;
    height: 100%;
    overflow-y: auto;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
}

.custom-modal .modal-content {
    z-index: 100000;
}

.custom-modal .modal-close-icon {
    cursor: pointer;
}
