@import '../varaibles.scss';

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: $content-w;
  height: $header-h;
  margin: 0 auto;
  font: 100% $font-stack;
  font-size: 1.2em;
  font-weight: bold;
  background-color: $font-color;
  border-bottom: 3px groove #1c1c52;
}

.header-wrapper > * {
  display: inline-block;
}
