@import "../varaibles.scss";

.fix {
  display: flex;
  flex-wrap: wrap;
  width: $content-w;
  height: $main-h;
}

.alert {
  height: 100%;
  margin-bottom: 0;
}

.new-ticket-form-container {
  overflow-y: auto;
}
